html,
body {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #999;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}

.top-header {
  position: sticky;
  top: 0;
  background-color: #ff0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-toggle {
  display: none;
}