<footer class="footer">
  <div class="container">
    <div class="col-md-6 left">
      <h4>Let's work together</h4>
    </div>
    <div class="col-md-6 right bottom">
      <p> Call: {{ metadata.phone }} OR Email: {{ metadata.email }}</p>
      <p>© 2020 All rights reserved. All Rights Reserved</p>
    </div>
  </div>
</footer>