<footer class="footer">
  <div class="container">
    <div class="col-md-6 left">
      <h4>Let's work together</h4>
    </div>
    <div class="col-md-6 right bottom">
      <p>e-mail: {{ metadata.email }}</p>
      <p>© 2020 Aneta Nejman</p>
    </div>
  </div>
</footer>
