<footer class="footer">
  <div class="footer-header">
    <h4>Let's work together</h4>
  </div>
  <div class="footer-info">
    <p>e-mail: {{ metadata.email }}</p>
    <p>© 2020 Aneta Nejman</p>
  </div>
</footer>
