<section class="hero-section" id="hero">
  <div class="hero-intro">
    <!-- <h1 class="hero-h1">
      {{ metadata.title }}<br>
      {{ metadata.subtitle }}
   </h1> -->
   <h1 class="hero-h1">
       Hi, I'm Aneta,<br>
       a UX Researcher & Designer
   </h1>
   <p class="hero-copy">
    I’m interested in creating effective solutions, that people use with pleasure.
   </p>
  </div>
  <!-- <div class="hero-intro">
   <h2 class="hero-h2">
     My skillset
   </h2>
   <p class="hero-copy">
    
   </p>
  </div> -->
</section>
