<section id="hero" class="section ">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 hero">
        <div class="hero-content">
          <h1>{{ metadata.title }}</h1>
          <h2>{{ metadata.subtitle }}</h2>
        </div>
      </div>
      <div class="col-md-5 col-sm-6 hero">
        <div class="hero-content">
          <p> {{ metadata.bio }} </p>
        </div>
      </div>
    </div>
  </div>
</section>
