<section id="hero" class="hero-section">
  <div class="hero-intro">
  <h1 class="hero-h1">
    {{ metadata.title }}<br>
    {{ metadata.subtitle }}
  </h1>
  <p class="hero-copy">
    {{ metadata.bio }} 
  </p>
  </div>
</section>
