<div class="header-content">
  <a href="/">Aneta Nejman</a>
  <nav class="nav">
  {% set navPages = collections.all | eleventyNavigation %}
    <ul class="nav-list">
      {%- for entry in navPages %}
        <li>
          <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
  <a href="#" class="nav-toggle">Menu<span></span></a>
</div>