<section class="postlist" id="portfolio">
  {% for post in postslist | reverse %}
    <article{% if post.url == url %} data-current="current item" {% endif %} class="post">
      <a href="{{ post.url }}" class="portfolio-link">
      <img src="/{{ post.data.cover }}" class="post-img" alt="">
        <div class="post-copy">
          <h3 class="h3">
            {{ post.data.title }}
          </h3>
          <p class="post-p copy">
            {{ post.data.summary }}
          </p>
        </div>
        <div class="post-tags">
          <ul class="post-taglist">
            {% for tag in post.data.tags %}
              {%- if loop.index != 1 -%}
                <li class="post-tagitem">
                  <p class="copy">{{ tag }}</p>
                </li>
              {%- endif -%}
            {% endfor %}
          </ul>
        </div>
      </a>
    </article>
  {% endfor %}
</section>
