<section>
  {% for post in postslist | reverse %}
  <article{% if post.url == url %} data-current="current item" {% endif %}>
    <p>
        <div class="col-sm-6 portfolio-item"> 
          <a href="{{ post.url }}" class="portfolio-link">
            <div class="caption">
              <div class="caption-content">
                <h3>{{ post.data.title }}</h3>
                <p>{{ post.data.summary }}</p>
              </div>
            </div>
            <img src="{{ post.data.cover }}" class="img-responsive" alt="">
          </a>
        </div>
    </p>
    </article>
    {% endfor %}
</section>