<section class="postlist" id="portfolio">
  {% for post in postslist | reverse %}
    <article{% if post.url == url %} data-current="current item" {% endif %} class="post">
      <a href="{{ post.url }}" class="portfolio-link">
      <img src="/{{ post.data.cover }}" class="post-img" alt="">
        <div class="post-copy">
          <h3 class="post-title">
            {{ post.data.title }}
          </h3>
          <p class="post-p">
            {{ post.data.summary }}
          </p>
        </div>
      </a>
    </article>
  {% endfor %}
</section>