<section id="service" class="service section">
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <h4>{{ metadata.bottomHeading }}</h4>
        <p>{{ metadata.bottomCopy }}</p>
      </div>
      <div class="col-md-7 col-sm-6">
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-browser"></span>
          <div class="service-content">
            <h5>Web & Mobile</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-trophy"></span>
          <div class="service-content">
            <h5>Branding</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-megaphone"></span>
          <div class="service-content">
            <h5>Digital Marketing</h5>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>
