<!doctype html>
<html lang="en">

{% include "components/head.njk" %}

<body class="about">
  <section class="top-header">
    <header class="header" id="header">
      {% include "components/nav.njk" %}
    </header>
  </section>

    <main class="main">
      <h1 class="hero-h1">
        About me
      </h1>
      <section class="about-content">
        {{ layoutContent | safe }}
      </section>

      <div class="row">
        {% set postslist = collections.post %}
        {% include "components/postslist.njk" %}
      </div>
    </main>
  {% include "components/footer.njk" %}
</body>

</html>
