---
layout: layouts/base.njk
section: post
---
<article class="post-page">

    <header class="post-header">
      <h2>{{ title }}</h2>
      <p>{{ summary }}</p>
    </header>

    <div class="post-static">
      {{ layoutContent | safe }}
    </div>

  </div>
</article>
